# Игнорировать базовые системные файлы и каталоги
*.pyc
*.pyo
__pycache__/
*.swp

# Игнорировать виртуальные окружения
venv/
ENV/
env/
.venv/
ENVIRONMENT/
environment/

# Игнорировать файлы конфигурации IDE/Editor
.idea/
.vscode/
*.iml

# Игнорировать файлы и каталоги, связанные с системой контроля версий
.git/
.gitignore
.hg/
.hgignore
.svn/
.svnignore

# Игнорировать файлы базы данных
*.sqlite3
db.sqlite3

# Игнорировать файлы конфигурации
settings_local.py
.env
*.env

# Игнорировать статические и медиа файлы (если они хранятся локально)
static/
media/

# Игнорировать логи
*.log
logs/

# Игнорировать докер файлы и настройки
Dockerfile
docker-compose.yml
.dockerignore

# Игнорировать временные файлы и каталоги
tmp/
temp/
