version: '3.8'

services:
  web:
    build:
      context: .
    command: >
      sh -c "python manage.py wait_for_db &&
            python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./:/app/
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image:
      postgres:14-alpine
    env_file:
      - .env
    ports:
        - "5432:5432"
    volumes:
        - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: