version: "3"
services:
  cinema:
    build:
      context: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - my_media:/vol/web/media
    command: >
      sh -c "python manage.py migrate &&
                python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db

  db:
    image: postgres:16.0-alpine3.17
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - my_db:$PGDATA
volumes:
  my_db:
  my_media:


