django==5.2
django-debug-toolbar==5.1.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
drf-spectacular==0.22.1
Pillow==11.2.1
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
pep8-naming==0.13.2
psycopg==3.2.6
psycopg-binary==3.2.6