Django==4.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
Pillow==11.1.0
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
pep8-naming==0.13.2
psycopg==3.1.12
psycopg-binary==3.1.12
pip~=25.0
attrs~=24.3.0
wheel~=0.45.1
pytz~=2024.2
PyYAML~=6.0.2
asgiref~=3.8.1
sqlparse~=0.5.3
typing_extensions~=4.12.2
pyflakes~=2.5.0
setuptools~=75.6.0
uritemplate~=4.1.1
inflection~=0.5.1
PyJWT~=2.10.1
python-dotenv~=1.0.1
drf-spectacular>=0.23.1
django-debug-toolbar
